

@model Construction.Models.ViewModels.SiteUpdateVM


@{
	ViewData["Title"] = "Site Update";
}


<style>

	.serviceImage {
		width: 350px !important;
		height: 200px !important;
		object-fit: cover;
	}

</style>


<form method="post">
	<div class="border p-4">
		<div class="row p-3 mb-3">
			<h2>Delete Site Update</h2>
			<hr />
		</div>
		<div class="row mb-3">
			<input asp-for="SiteUpdate.Id" type="hidden" />
			<label asp-for="SiteUpdate.ProjectId">Project</label>
			<select asp-for="SiteUpdate.ProjectId" asp-items="@Model.Projects" class="form-control" disabled>
			</select>
			<span asp-validation-for="SiteUpdate.ProjectId" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.Date">Date</label>
			<input asp-for="SiteUpdate.Date" type="datetime" value="@DateTime.Now" class="form-control" disabled />
			<span asp-validation-for="SiteUpdate.Date" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.NumberOfMasons">Number Of Masons</label>
			<input asp-for="SiteUpdate.NumberOfMasons" class="form-control" value="@Model.SiteUpdate.NumberOfMasons" disabled/>
			<span asp-validation-for="SiteUpdate.NumberOfMasons" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.NumberOfLabours">Number Of Labours</label>
			<input asp-for="SiteUpdate.NumberOfLabours" class="form-control" value="@Model.SiteUpdate.NumberOfLabours" disabled/>
			<span asp-validation-for="SiteUpdate.NumberOfLabours" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label>Image</label>
			<img src="@Model.SiteUpdate.ImageUrl" class="serviceImage" />
		</div>

		<button class="btn btn-danger" type="submit">Delete</button>
		<a asp-area="Employee" asp-controller="SiteUpdate" asp-action="Index" class="btn btn-dark">Back To List</a>
	</div>
</form>


@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}