
@model Construction.Models.ViewModels.SiteUpdateVM

@{
	ViewData["Title"] = "Site Update";
}

<style>

	.serviceImage {
		width: 350px !important;
		height: 200px !important;
		object-fit: cover;
	}

</style>

<form method="post" enctype="multipart/form-data">
	<div class="border p-4">
		<div class="row p-3 mb-3">
			<h2>Edit Site Update</h2>
			<hr />
		</div>
		<div class="row mb-3">
			<input asp-for="SiteUpdate.Id" type="hidden" />
			<label asp-for="SiteUpdate.ProjectId">Project</label>
			<select asp-for="SiteUpdate.ProjectId" asp-items="@Model.Projects" class="form-control">
			</select>
			<span asp-validation-for="SiteUpdate.ProjectId" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.Date">Date</label>
			<input asp-for="SiteUpdate.Date" type="datetime" value="@DateTime.Now" class="form-control" disabled />
			<span asp-validation-for="SiteUpdate.Date" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.NumberOfMasons">Number Of Masons</label>
			<input asp-for="SiteUpdate.NumberOfMasons" class="form-control" value="@Model.SiteUpdate.NumberOfMasons"/>
			<span asp-validation-for="SiteUpdate.NumberOfMasons" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="SiteUpdate.NumberOfLabours">Number Of Labours</label>
			<input asp-for="SiteUpdate.NumberOfLabours" class="form-control" value="@Model.SiteUpdate.NumberOfLabours"/>
			<span asp-validation-for="SiteUpdate.NumberOfLabours" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label>Current Site Image</label>
			<input asp-for="SiteUpdate.ImageUrl" type="hidden"/>
			<img src="@Model.SiteUpdate.ImageUrl" class="serviceImage mb-4"/>
			<label>Upload New Site Image</label>
			<input type="file" name="file" class="form-control" />
			<span asp-validation-for="SiteUpdate.ImageUrl" class="text-danger"></span>
		</div>

		<button class="btn btn-success" type="submit">Update</button>
		<a asp-area="Employee" asp-controller="SiteUpdate" asp-action="Index" class="btn btn-dark">Back To List</a>
	</div>
</form>


@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}