@model Construction.Models.ViewModels.ProjectVM

@{
	ViewData["Title"] = "Edit Project";
}

<style>

	.serviceImage {
		width: 350px !important;
		height: 200px !important;
		object-fit: cover;
	}

</style>

<form method="post" enctype="multipart/form-data">
	<div class="border p-4">
		<div class="row p-3 mb-3">
			<h2>Edit Project</h2>
			<hr />
		</div>
		<input asp-for="Project.Id" type="hidden" />
		<div class="row mb-3">
			<label asp-for="Project.Name">Project Name</label>
			<input asp-for="Project.Name" class="form-control" value="@Model.Project.Name"/>
			<span asp-validation-for="Project.Name" class="text-danger"></span>
		</div>
		<div class="row mb-3">
			<label asp-for="Project.Address">Project Address</label>
			<textarea asp-for="Project.Address" class="form-control">@Model.Project.Address</textarea>
			<span asp-validation-for="Project.Address" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="Project.NumberOfBathrooms">Number Of Bathrooms</label>
			<input asp-for="Project.NumberOfBathrooms" class="form-control" value="@Model.Project.NumberOfBathrooms"/>
			<span asp-validation-for="Project.NumberOfBathrooms" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="Project.NumberOfBedrooms">Number Of Bedrooms</label>
			<input asp-for="Project.NumberOfBedrooms" class="form-control" value="@Model.Project.NumberOfBedrooms"/>
			<span asp-validation-for="Project.NumberOfBedrooms" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label>Current Image</label>
			<input asp-for="Project.ImageUrl" type="hidden"/>
			<img src="@Model.Project.ImageUrl" class="serviceImage mb-4" />
			<label>Upload New Project Image</label>
			<input type="file" name="file" class="form-control"/>
			<span asp-validation-for="Project.ImageUrl" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="Project.IsPublic">Is Public</label>
			<input asp-for="Project.IsPublic" type="checkbox" style="width:18px;height:18px; margin-left:20px;margin-top:8px;" />
			<span asp-validation-for="Project.IsPublic" class="text-danger"></span>
		</div>

		<div class="row mb-3">
			<label asp-for="Project.IsFeatured">Is Featured</label>
			<input asp-for="Project.IsFeatured" type="checkbox" style="width:18px;height:18px; margin-left:20px;margin-top:8px;" />
			<span asp-validation-for="Project.IsPublic" class="text-danger"></span>
		</div>

		<button class="btn btn-success" type="submit">Update</button>
		<a asp-area="Admin" asp-controller="Project" asp-action="Home" class="btn btn-dark">Back To List</a>
	</div>
</form>


@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}